In [1]:
import json
import pandas as pd
import os 
import time

In [69]:
lis = os.listdir('./json_data/')
lis

['Team10_NVIDIA.json',
 'Team11_Boeing.json',
 'Team12_Chevron.json',
 'Team1_Google.json',
 'Team2_Amazon.json',
 'Team3_Facebook.json',
 'Team4_Netflix.json',
 'Team5_Microsoft.json',
 'Team6_Tesla.json',
 'Team7_Walmart.json',
 'Team8_Kroger.json',
 'Team9_GoldmanSachs.json']

In [99]:
df = pd.DataFrame()
df_temp = pd.DataFrame()

In [100]:
for f in lis:
    path = "./json_data/"+f
    print("Opening file :",f)
    try:
        with open(path,encoding="utf8") as file:
            df_temp = pd.DataFrame(json.load(file))
            print("encoding with utf8")
    except:
        try:
            print("encoding with default")
            with open(path) as file:
                df_temp = pd.DataFrame(json.load(file))
        except Exception as e:
            print("something Happened",e)
    df = df.reset_index().drop("index",axis = 1)
    df = df.append(df_temp,ignore_index=False)

Opening file : Team10_NVIDIA.json
encoding with utf8
Opening file : Team11_Boeing.json
encoding with utf8
Opening file : Team12_Chevron.json
encoding with default
Opening file : Team1_Google.json
encoding with utf8
Opening file : Team2_Amazon.json
encoding with default
Opening file : Team3_Facebook.json
encoding with utf8
Opening file : Team4_Netflix.json
encoding with utf8
Opening file : Team5_Microsoft.json
encoding with utf8
Opening file : Team6_Tesla.json
encoding with default
Opening file : Team7_Walmart.json
encoding with utf8
Opening file : Team8_Kroger.json
encoding with utf8
Opening file : Team9_GoldmanSachs.json
encoding with utf8

In [102]:
df.count()

sentiment    1643
text         1644
dtype: int64

In [107]:
df[df['sentiment'].isnull()]

     sentiment                                               text
658        NaN   Eric, I also think it’s a good data point aro...
1426      None  And when you're talking tonnage when we look a...

In [109]:
df['text'][658]

' Eric, I also think it’s a good data point around the fact that we are growing the entertainment business. So, the idea that it’s good for the industry to know, it’s good for the creative community to know, it’s good for fans to know that we’re – at a time when we’re growing big audience films like that, the box office by way of example, the North American box office has grown in the fourth quarter. So – and in fact had some records. So I think it’s a very exciting time. And we thought it’d be a good idea to give you some idea of the scale of that and how to put it in context. '

In [112]:
df['sentiment'][658] = 'positive'

In [110]:
df['text'][1426]

"And when you're talking tonnage when we look at the ID's you're excluding about 50 basis points from specialty pharma contribution, is that correct or no?"

In [113]:
df['sentiment'][1426] = 'neutral'

In [114]:
df[df['sentiment'].isnull()]

Empty DataFrame
Columns: [sentiment, text]
Index: []

In [115]:
df.sentiment.unique()

array(['positive', 'neutral', 'negative', 'Neutral', 'Negative',
       'Positive', 'neutra;', 'neutral ', 'positive ', 'postive',
       'Negetive', 'Neural'], dtype=object)

In [118]:
df['sentiment'] = df['sentiment'].apply(lambda x : x.lower())
df['sentiment'] = df['sentiment'].replace(['neutra;', 'neural','neutral '], 'neutral')
df['sentiment'] = df['sentiment'].replace(['postive','positive '], 'positive')
df['sentiment'] = df['sentiment'].replace(['negetive'], 'negative')

In [119]:
df.sentiment.unique()

array(['positive', 'neutral', 'negative'], dtype=object)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1645 entries, 0 to 99
Data columns (total 2 columns):
sentiment    1645 non-null object
text         1644 non-null object
dtypes: object(2)
memory usage: 118.6+ KB

In [121]:
df[df['text'].isnull()]

    sentiment text
684  positive  NaN

In [122]:
df.dropna(inplace=True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1644 entries, 0 to 99
Data columns (total 2 columns):
sentiment    1644 non-null object
text         1644 non-null object
dtypes: object(2)
memory usage: 38.5+ KB

In [125]:
df.to_json(path_or_buf ="final_json_data.json",orient='records')